<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration, sapnco" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SOFTTEK.SCMS.SRA-20151104141422;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SOFTTEK.SCMS.SRA-20151104141422.mdf" />-->
    <!--<add name="SCMS" connectionString="Data Source=LSTKBO49636,1433\STK_SF;Initial Catalog=SCMS;User ID=sa;Password=Softtek15" providerName="System.Data.SqlClient" />
    <add name="SRA" connectionString="Data Source=LSTKBO49636,1433\STK_SF;Initial Catalog=SCMS;User ID=sa;Password=Softtek15" providerName="System.Data.SqlClient" />-->
    <add name="SCMS" connectionString="Data Source=DESKTOP-IKH4080\SQLEXPRESS;Initial Catalog=SCMS;User ID=sa;Password=Softtek16" providerName="System.Data.SqlClient" />
    <add name="SRA" connectionString="Data Source=DESKTOP-IKH4080\SQLEXPRESS;Initial Catalog=SCMS;User ID=sa;Password=Softtek16" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <!--INICIO CONEXIONES SAP 6.0-->
          <add NAME="SAP_CONNECTION_60_PRO" USER="JEGONZALEZ" PASSWD="Softtek10" CLIENT="799" LANG="ES" ASHOST="192.168.1.20" MAX_POOL_SIZE="30" SYSID="SIE" SYSNR="00" IDLE_TIMEOUT="600" SAPROUTER="/H/200.14.238.98/W/S0ftt3kD3m0/H/" />
          <add NAME="SAP_CONNECTION_60_QA" USER="JEGONZALEZ" PASSWD="Softtek10" CLIENT="799" LANG="ES" ASHOST="192.168.1.20" MAX_POOL_SIZE="30" SYSID="SIE" SYSNR="00" IDLE_TIMEOUT="600" SAPROUTER="/H/200.14.238.98/W/S0ftt3kD3m0/H/" />
          <add NAME="SAP_CONNECTION_60_DEV" USER="JEGONZALEZ" PASSWD="Softtek10" CLIENT="799" LANG="ES" ASHOST="192.168.1.20" MAX_POOL_SIZE="30" SYSID="SIE" SYSNR="00" IDLE_TIMEOUT="600" SAPROUTER="/H/200.14.238.98/W/S0ftt3kD3m0/H/" />
          <!--FIN CONEXIONES SAP 6.0-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <appSettings>
    <add key="S_APP_UID" value="IDM" />
    <add key="S_SRA_APP_idENTIFIER" value="D52E3009-C39A-4205-B762-C9EDD5060F6C" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SCMS_SALTBytes" value="UHJ1ZWJhIGRlIGNvZGlmaWNhY2nDs24=" />
    <add key="SCMS_Password" value="Softtek_Renovation_SCSM_2015" />
    <add key="employee_ftp_url" value="ftp://localhost:21/sra/employee/" />
    <!--Registry Settings Keys-->
    <add key="Environment" value="DEV" />
    <add key="Default_SAP_Destination" value="DEV" />
    <add key="SAP_Version" value="6.0" />
    <add key="Customer_SAP_Version_id" value="" />
    <add key="Customer_SAP_Instance_id" value="" />
    <add key="Customer_SAP_Language" value="" />
    <add key="Customer_SAP_Max_Pool_Size" value="" />
    <add key="Customer_SAP_idle_Timeout" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--Key's for name's RFC'S of SAP -->
    <add key="SAP_RFC_PM_MEASUREMENT_DOCUMENT" value="ZRFC_PM_TOMAR_MEDIDA" />
    <add key="SAP_RFC_PM_TECHNICAL_OBJECT" value="ZFM_RFC_OBJETO_TECNICO" />
    <add key="SAP_RFC_PM_WORK_ORDERS" value="ZFM_RFC_ORDENES_MANTENIMIENTO" />
    <add key="SAP_RFC_ADVICE" value="ZFM_RFC_NOTIFICACION_ORDEN" />
    <add key="SAP_RFC_CREATE_ADVICE" value="ZFM_RFC_CREACION_AVISOS" />
    <add key="SAP_RFC_UPDATE_NOTIFICATION" value="ZFM_RFC_UPDATE_NOTIFICACION" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
<!--ProjectGuid: 1C055631-1FD8-48FA-A1A9-30092AA4B903-->